<p id="notice"><%= notice %></p>

<h1>Posting Pages</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posting_pages.each do |posting_page| %>
      <tr>
        <td><%= posting_page.content %></td>
        <td><%= link_to 'Show', posting_page %></td>
        <td><%= link_to 'Edit', edit_posting_page_path(posting_page) %></td>
        <td><%= link_to 'Destroy', posting_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Posting Page', new_posting_page_path %>
