<p>
  <strong>Content:</strong>
  <%= @posting_page.content %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag(@posting_page.image.url) %>
</p>
<div class="link_button1">
  <%= link_to 'Edit', edit_posting_page_path(@posting_page) %>
  <%= link_to 'Home', posting_pages_path %>
  <br>
  <% unless @posting_page.user_id == current_user.id %>
    <% if @favourite.present? %>
      <%= link_to 'お気に入り解除する', favourite_path(id: @favourite.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'お気に入りにする', favourites_path(posting_page_id: @posting_page.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>
